@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,500;1,600;1,700;1,900&display=swap');


body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    font-style: italic;
}

.top {
    padding: 10em;
    background: rgb(185, 87, 87) url('../images/Batman/arkham_origin_batlogo-wallpaper-1920x1080.jpg');
    background-position: 50% 45%;
    color: white;
    text-align: center;
    padding-bottom: 4em;
}

.name {
    position: absolute;
    margin-top: -10em;
    margin-left: -10em;
    background-color: aqua;
}

.biographie {
    text-align: center;
    padding: .8em 1.2em;
    background: rgb(63, 60, 60);
}

div {
    display: block;
}

.bande-dessine {
    text-align: center;
    padding: .8em 1.2em;
    background: skyblue;
}

h1 {
    text-align: center;
    font-size: 2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
    color: red;
}