/* Style the video: 100% width and height to cover the entire window */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,500;1,600;1,700;1,900&display=swap');

/* Custom Properties*/

:root {
    --leading: 2em;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.hero-bg {
    background: rgb(34, 31, 31);
    background-position: 50% 70%;
    color: white;
    text-align: center;
    padding-bottom: 4em;
}

#video {
    visibility: initial;
    height: 20em;
    width: auto;
}

header {
    padding: 2em 0;
}

.hero-bg a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.3rem;
}

section {
    margin: 0 1em;
}

h1 {
    font-size: 2.5rem;
    margin: 1em 0 1.2em;
}

h1 span {
    text-transform: uppercase;
    display: block;
    font-size: 1.4rem;
    position: relative;
    z-index: 1;
}

h1 span::before {
    content: '';
    position: absolute;
    width: 4em;
    background-color: #00BFFF;
    height: .3em;
    bottom: 0;
    z-index: -1;
    margin-left: -.1em;
}

.hero-bg p {
    font-weight: bold;
    margin: 0 1em 3em;
}

.form-container {
    background-color: white;
    margin: 2em -1em 0;
    padding: 2em;
}

label {
    color: black;
    font-weight: bold;
    display: block;
    margin-bottom: 1em;
    font-size: 1.2em;
}

input[type=text] {
    border: 1px solid gray;
    width: 100%;
    padding: 2em;
    box-sizing: border-box;
    border-radius: .5em;
    margin-top: 1.2em;
}

.form-container p {
    color: gray;
    margin-bottom: 1.5em;
    font-weight: normal;
    font-size: .9em;
}


input[type=button] {
    background-color: rgb(29, 19, 34);
    border: none;
    width: 100%;
    color: white;
    font-weight: bold;
    padding: 1em 0;
    border-radius: .5em;
    font-size: .9em;
    cursor: pointer;
}

input[type=button]:hover {
    background-color: rgb(100, 71, 114);
    font-weight: normal;
}

.authentic {
    margin: 0;
}

.right-col {
    text-align: center;
    margin: 3em 1em;
}

h2 {
    text-transform: uppercase;
    position: relative;
}

img {
    width: 100%;
}

h2::before {
    content: '';
    position: absolute;
    width: 8em;
    background-color: #00BFFF;
    height: .3em;
    bottom: 0;
    z-index: -1;
    margin-left: -.1em;
}

p {
    line-height: var(--leading);
}

@media (min-width: 730px) {

    section {
        margin: 0 4em;
    }

    .form-container {
        margin: 2em -4em 0;
    }
}

@media (min-width: 930px) {

    .hero-bg {
        text-align: left;
    }

    .hero-bg p {
        font-weight: normal;
        margin: 0 0 3em;
    }

    .hero-bg section {
        width: 65%;
    }

    .form-container{
        margin: 2em 0 0;
        padding: 2em;
        border-radius: .5em;
        box-shadow: 10px 10px 10px rgb(29, 19, 34);
    }

    form {
        display: flex;
    }

    .form-left {
        width: 70%;
    }

    label {
        margin: 0;
    }

    input[type=button] {
        height: fit-content;
        font-size: 1.1em;
        margin-left: 1em;
        margin-top: 2.4em;
        padding: 1.1em 0;
        width: 30%;
    }
    .hero-bg p {
        margin-bottom: 0;
    }

    section.authentic {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-areas:
            "bowl content" ;
    }

    .right-col {
        grid-area: content;
        padding: 0 10%;
        text-align: left;
        align-self: center;
    }

    img {
        grid-area: bowl;
    }

    h2 {
        margin: 0;
    }

    .top {
        animation: fadeIn 2s forwards;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translateY(-2degre);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
}



